*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: radial-gradient(#fff, #FFEAC5); */
}
/*nav maenu on the left as a unordered list*/
.navbar{
    display:flex;
    align-items: center;
}
/*nav maenu on the right as a unordered list*/
nav{
    flex: 1;
    text-align: right;
}
/*nav maenu on the right as a list but without bullet*/
nav ul{
    display: inline-block;
    list-style-type: none;   
}
/*nav maenu on the right as a vertically list with 50px gapping with each with underline*/
nav ul li{
    display: inline-block;
    margin-right: 50px;   
}
/*nav maenu on the right as a vertically list with 50px gapping with each without underline*/
a{
    text-decoration: none;
    color: #555;
    font-size: 18px;
}
.slide-container{
    position: relative;
    margin-top: -20px;
    width: 1250px;
    height: 500px;
    /* border: 3px solid #ede6d6; */
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
    border-radius:12px 12px;
}
.slide-container .slides{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius:12px 12px;
}
.slide-container .slides img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius:12px 12px;
}
.slide-container .slides img:not(.active){
    top: 0;
    left: -100%;
}
span.next, span.prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 14px;
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    transition: 0.2s;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
}
span.next{
    right: 20px;
}
span.prev{
    left: 20px;
}
span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
} 

 @media (max-width: 1024px) {
    .slide-container {
      max-width: 100%;
      height:300px;
      margin: 10px auto;
    }
  
    .slide-container .caption {
      font-size: 16px;
      padding: 8px;
    }
  }

  /* Media Queries for Mobile Devices */
  @media (max-width: 600px) {
    .slide-container{
        /* height:100%; */
        height:200px;
}
    .slider {
      max-width: 100%;
      /* height:100%; */
      margin: 5px auto;
    }
  
    .slider .caption {
      font-size: 14px;
      padding: 6px;
    }
  } 

@keyframes next1{
    from{
        left: 0%
    }
    to{
        left: -100%;
    }
}
@keyframes next2{
    from{
        left: 100%
    }
    to{
        left: 0%;
    }
}

@keyframes prev1{
    from{
        left: 0%
    }
    to{
        left: 100%;
    }
}
@keyframes prev2{
    from{
        left: -100%
    }
    to{
        left: 0%;
    }
}



/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    max-width: 1300px; /* Adjust max-width as needed */
    padding: 20px; /* Optional: Add padding */
}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}



p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 0px; */
    margin-top: -50px;
}

.col-2{
    flex-basis: 100%;
    min-width: 300px;
    padding-top:0;
}
.col-2 img{
    max-width: 100%;
    /* padding: 50px 0; */
} 

.col-2 h1{
    margin-top: 0px;
    font-size: 50px;
    line-height: 60px;
    /* margin: 25px 0; */
}

.btn{
    display: inline-block;
    background: #fab92b;
    color: #fff;
    padding:8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition:background 0.5s;
}
.btn:hover{
    background: #563434;
}


.header .row{
    margin-top:40px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

.header{
    background: radial-gradient(#fff, #FFEAC5);
}

.col-2 p{
    width:90%;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
   width: 100%;
}

.small-container{
    margin-top: 30px;
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;   
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width:100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #fec32d;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #fdb228;
}
.col-4:hover{
    transform:translateY(-5px);
}

/*-----------------------offer -----------------------*/
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}
small{
    color:#555;
}



/*-----------------------Footer -----------------------*/
.footer{
    background:#000; /*black;*/
    color: #8a8a8a;
    font-size: 14px;
    padding:60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color:#fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;   
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}



.menu-icon{
    width: 28px;
    margin-left: 20px;  
    display:none;
}

/*-----------------------media query for menu -----------------------*/
@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top:60px;
        /* left: 0; */
        right:0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        
    }
    nav ul li{
        display: block;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #000;
        font-size: 10px;
        /* font-weight: lighter; */
    }

    
    .nav-links{
        /* background:radial-gradient(#f7e2af,#fff); */
        transition: max-height 0.5s ease-in-out, margin-top 0.5s ease-in-out;
        background-color: rgba(250, 247, 238, 0.1);
        overflow: hidden;
        height:120px;
        width:140px;
    }
    
    .menu-icon{ 
        display:block;
        /* height:100px; */
        cursor: pointer;
    }
    .container h1{
        font-size: 15px;
    }
    .logo img{
        width:60px;
        height:60px;
    }

}

/*-----------------------media query for less than 600 screen size(mobile device) -----------------------*/
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2 .col-3 .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 20px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
    

}

/*--------------------all products-----------------------------------------------*/
.row-2{
    justify-content: space-between;
    margin:50px auto 50px;
}
select{
    border:1px solid #fdbd33;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border:1px solid #f1a22c;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #f7af21;
    color: #fff;
}


/*-----------------------single product details -----------------------*/

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding:0;
}
.single-product .col-2{
    padding:20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: apx solid #d6a811;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color:#eabf34;
    margin-left: 10px;
}
.small-img-row{
   display:flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.col-sm-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }

  .section-title {
    color: #1A2224;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  


       
